@import 'ui_foundation/scss/index';
@import 'ui_link/scss/mixins';

@mixin breadcrumbs {
  @include link_styles;
  border-bottom: 1px solid $light_grey;
  background: $white;
  padding: rem-calc(10) 0;

  ul {
    @include main_wrapper;
    display: block;
    color: $grey;
    list-style: none;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;

    li {
      display: inline;
      padding: 0 rem-calc(7) 0 0;
      font-size: rem-calc(12);
      font-weight: 300;

      &:last-child {
        padding-right: 0;
      }

      &:after {
        @include icon(angle-right);
        font-size: rem-calc(12);
        color: $grey;
        margin-left: rem-calc(7);
      }

      &:last-child {
        &:after {
          display: none;
        }

        a {
          color: $grey;
        }
      }
    }
  }
}